body {
	background-color:black;
	color:white;
	margin:0px;
	overflow:hidden;
}

#panel {
	overflow-x:hidden;
	z-index:1;
	position:absolute;
	background-color:rgba(0,0,0,.75);
}

#help {
	padding-right:10px;
}

#find {
	padding-right:10px;
}

#orbitInfo {
	padding-right:20px;
}

a:link {
	cursor:pointer;
	color:#00FFFF;
}

a:visited {
	cursor:pointer;
	color:#00FFFF;
}

a:hover {
	cursor:pointer;
	color:#00FFFF;
}

a:active {
	cursor:pointer;
	color:#00FFFF;
}
	
/* wikipedia hacks */
.editsection {
	display:none;
}

::-webkit-scrollbar {
	display:none;
}
